﻿@model MetricsDatabaseAPI.Models.ViewModels.CreateThroughputVM

<div class="row">
    <div class="col-md-4">
        <form id="throughputForm" action="/api/throughputapi/create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DBConnections" class="control-label"></label>
                <input asp-for="DBConnections" class="form-control" />
                <span asp-validation-for="DBConnections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteIOPS" class="control-label"></label>
                <input asp-for="WriteIOPS" class="form-control" />
                <span asp-validation-for="WriteIOPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadIOPS" class="control-label"></label>
                <input asp-for="ReadIOPS" class="form-control" />
                <span asp-validation-for="ReadIOPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteThroughput" class="control-label"></label>
                <input asp-for="WriteThroughput" class="form-control" />
                <span asp-validation-for="WriteThroughput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadThroughput" class="control-label"></label>
                <input asp-for="ReadThroughput" class="form-control" />
                <span asp-validation-for="ReadThroughput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteLatency" class="control-label"></label>
                <input asp-for="WriteLatency" class="form-control" />
                <span asp-validation-for="WriteLatency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadLatency" class="control-label"></label>
                <input asp-for="ReadLatency" class="form-control" />
                <span asp-validation-for="ReadLatency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <button id="cancelBtn" class="btn btn-warning">Cancel</button>
            </div>
        </form>>
    </div>
</div>

