﻿@model MetricsDatabaseAPI.Models.Entities.Throughput

<h3>Are you sure you want to delete this?</h3>
<div>
    <form id="deleteThroughputForm" action="/api/throughputapi/delete" method="delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Id" class="form-control" disabled />
            <input asp-for="TimeStamp" class="form-control" disabled />
            <input asp-for="DBConnections" class="form-control" disabled />
            <input asp-for="WriteIOPS" class="form-control" disabled />
            <input asp-for="ReadIOPS" class="form-control" disabled />
            <input asp-for="WriteThroughput" class="form-control" disabled />
            <input asp-for="ReadThroughput" class="form-control" disabled />
            <input asp-for="WriteLatency" class="form-control" disabled />
            <input asp-for="ReadLatency" class="form-control" disabled />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button id="cancelDeleteBtn" class="btn btn-warning">Cancel</button>
        </div>
    </form>
</div>
