﻿@model MetricsDatabaseAPI.Models.Entities.Throughput

<div class="row">
    <div class="col-md-4">
        <form id="editThroughputForm" action="/api/throughputapi/update" method="put">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" class="form-control" disabled />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DBConnections" class="control-label"></label>
                <input asp-for="DBConnections" class="form-control" />
                <span asp-validation-for="DBConnections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteIOPS" class="control-label"></label>
                <input asp-for="WriteIOPS" class="form-control" />
                <span asp-validation-for="WriteIOPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadIOPS" class="control-label"></label>
                <input asp-for="ReadIOPS" class="form-control" />
                <span asp-validation-for="ReadIOPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteThroughput" class="control-label"></label>
                <input asp-for="WriteThroughput" class="form-control" />
                <span asp-validation-for="WriteThroughput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadThroughput" class="control-label"></label>
                <input asp-for="ReadThroughput" class="form-control" />
                <span asp-validation-for="ReadThroughput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteLatency" class="control-label"></label>
                <input asp-for="WriteLatency" class="form-control" />
                <span asp-validation-for="WriteLatency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadLatency" class="control-label"></label>
                <input asp-for="ReadLatency" class="form-control" />
                <span asp-validation-for="ReadLatency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button id="cancelEditBtn" class="btn btn-warning">Cancel</button>
            </div>
        </form>
    </div>
</div>
