﻿@model MetricsDatabaseAPI.Models.Entities.Throughput

<div>
    <h4>Throughput</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DBConnections)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DBConnections)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WriteIOPS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WriteIOPS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadIOPS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadIOPS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WriteThroughput)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WriteThroughput)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadThroughput)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadThroughput)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WriteLatency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WriteLatency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadLatency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadLatency)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
