﻿
@{
    ViewData["Title"] = "Quotes";
}

<h2>@ViewData["Title"]</h2>

<button id="createThroughputBtn" class="btn btn-primary btn-sm">Create New Throughput</button>
<div id="createArea">
    <partial name="_CreateThroughput" model="new CreateThroughputVM()" />
</div>

<button id="editThroughputBtn" data-id="" class="btn btn-secondary btn-sm">Edit Throughput</button>
<div id="editArea" style="display:none">
    <partial name="_EditThroughput" />
</div>


<button id="deleteThroughputBtn" data-id="" class="btn btn-secondary btn-sm">Delete Throughput</button>
<div id="deleteArea" style="display:none">
    <partial name="_DeleteThroughput" />
</div>

<button id="showThroughputBtn" data-id="" class="btn btn-secondary btn-sm">Show Throughput</button>
<div id="showArea" style="display:none">
    <partial name="_ReadAThroughput" />
</div>

<table class="table">
    <tbody>
        <tr>
            <td>
                <h3>Time Stamp:</h3>
            </td>
            <td>
                <h4 id="timeStamp"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Database Connections:</h3>
            </td>
            <td>
                <h4 id="dbConnections"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Write IOPS:</h3>
            </td>
            <td>
                <h4 id="writeIOPS"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Read IOPS:</h3>
            </td>
            <td>
                <h4 id="readIOPS"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Write Throughput</h3>
            </td>
            <td>
                <h4 id="writeThroughput"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Read Throughput</h3>
            </td>
            <td>
                <h4 id="readThroughput"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Write Latency:</h3>
            </td>
            <td>
                <h4 id="writeLatency"></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Read Latency:</h3>
            </td>
            <td>
                <h4 id="readLatency"></h4>
            </td>
        </tr>
    </tbody>
</table>
@section scripts{
    <script src="~/js/throughputsIndex.js"></script>
}
