﻿@model IEnumerable<MetricsDatabaseAPI.Models.Entities.Throughput>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DBConnections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WriteIOPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadIOPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WriteThroughput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadThroughput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WriteLatency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLatency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DBConnections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteIOPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadIOPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteThroughput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadThroughput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteLatency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLatency)
            </td>
        </tr>
}
    </tbody>
</table>
